/* This was extracted from The CSS Pack by OXOP */
/* https://github.com/0XOPx/The-CSS-Pack */

.m-0 {
  margin: 0;
}

.p-0 {
  padding: 0;
}

.cursor-pointer {
  cursor: pointer;
}

.select-none {
  user-select: none;
}

.pointer-events-none {
  pointer-events: none;
}